@import "variables";

.article-selector {
  border-bottom: 1px solid rgba(153,153,153,0.2);
  line-height: $article-selector-height;
  height: $article-selector-height;
  vertical-align: middle;

  .query-tools {
    float: right;
    color: #999999;
    margin-right: 0.2rem;

    & > * {
      margin-left: 0.2rem;
    }
  }
}

.article-list {
  //单个的帖子列表
  .article-item {
    border-bottom: 1px dashed rgba(135, 141, 164, 0.2);
    padding: 10px;
    position: relative;

    // 去除列表的样式
    ul {
      li {
        list-style: none;
      }
    }

    // 左侧的头像信息
    .left {
      margin-right: 0.15rem;

      & > a {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }

      .avatar {
        width: 0.42rem;
        height: 0.42rem;
      }
    }

    // 中间显示文章的主要信息
    .center {
      flex-grow: 1;
      line-height: 0.28rem;

      // 第二行的文字大小
      & > li:nth-of-type(2) {
        font-size: 0.14rem;

        .info-item + .info-item {
          margin-left: 0.2rem;
        }
      }

      //文章的标题
      .ft-a-title {
        color: #666666;
        text-decoration: none;
        font-size: 0.16rem;
      }

      // 文章的状态图标
      .article-icons {
        .article-icon {
          font-size: 0.1rem;
          color: white;
          padding: 0.02rem;
          margin-left: 0.2rem;
        }

        //精华帖图标样式
        .icon-elit {
          background-color: #FF882B;
        }

        //置顶帖的图标样式
        .icon-top {
          background-color: #FF3450;
        }
      }
    }

    .right {
      line-height: 0.28rem;
    }
  }
}