.icon-diamond {
  background: url(../images/icons/icon-diamond.png) no-repeat center center;
}

.icon-crown {
  background: url(../images/icons/icon-crown.png) no-repeat center center;
}

.icon-fire {
  background: url(../images/icons/icon-fire.png)  no-repeat center center;
}
