.icon-diamond {
  background: url(../images/icons/icon-diamond.png) 18px 21px no-repeat;
}

.icon-crown {
  background: url(../images/icons/icon-crown.png) 13px 15px no-repeat;
}

.icon-fire {
  background: url(../images/icons/icon-fire.png) 12px 15px no-repeat;
}
